{% extends "index.html" %}
{% block title %}Discusses{% endblock %}
{% block content %}
{% for discuss in discusses %}
<div class="list-group">
  <a href="/discuss/{{discuss.id}}/" class="list-group-item">
    <h4 class="list-group-item-heading">{{discuss.name}}</h4>
    <p class="list-group-item-text">{{discuss.content}}</p>
  </a>
</div>
{% endfor %}
{% if user.user_student %}
<form class="row form-horizontal panel" method="POST" action='/post/'>
	<div class="form-group">
		<input type="hidden" name="post_type" value="course_discuss">
		<label class="panel-heading control-label col-sm-4 ">发起新的讨论</label>
	</div>
	<div class="form-group col-md-8 col-md-offset-2">
		<label  class="col-sm-2 control-label" for="exampleInputUsername">标题:</label>
		<div class="col-sm-10">
			<input type='text' name='title' value="" class="form-control" id="exampleInputUsername" placeholder=""/>
		</div>
	</div>
	<div class="form-group col-md-8 col-md-offset-2">
		<label  class="col-sm-2 control-label" for="exampleInputUsername">内容:</label>
		<div class="col-sm-10">
			<textarea type='text' name='content' value="" class="form-control" id="exampleInputUsername" placeholder=""></textarea>
		</div>
	</div>
	<div class="form-group col-md-2">
		<input type="hidden" name="post_type" value="topic_discuss"/>
		<input type="submit" class="btn btn-primary" value="Submit"/>
	</div>
</form>
{% endif %}
{% endblock %}