{% extends "index.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
	<div class="col-md-4 ">
      <a href="/course/{{course.id}}/">
        <img src="{{course.img_url}}">
      </a>
      <h3>{{course.name}}</h3>
      <h4>参与人数：{{course.attendance}}</h4>
      {% if is_student and not is_attended %}
	  <form method="POST" action="/join/" class="form-inline row">
	  	<div class="form-group ">
	  		<input type="hidden" name="courseid" value="{{course.id}}"/>
			<input type="submit" class="btn btn-info btn-lg" value="Join"/>
	  	</div>
	  </form>
	  {% elif is_student and is_attended%}
	  <button type="button" class="btn btn-default btn-lg well">您已加入该课程</button>
	  {% endif %}
	</div>
	<div class='col-md-8'>
	{% if is_attended %}
		<div class="row panel panel-default">
		{% if discusses %}
		<div class="col-sm-6">
			<div class="panel-heading">
				<h3 class="panel-title">讨论</h3>
			</div>
			{% for discuss in discusses %}
			<div class="panel-body">
				<p class="panel-title">{{discuss.name}}</p>
				<p class="panel-body">{{discuss.content}}</p>
				<p class="panel-body">{{discuss.time}}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if questions %}
		<div class="col-sm-6">
			<div class="panel-heading">
				<h3 class="panel-title">提问</h3>
			</div>
			{% for question in questions %}
			<div class="panel-body">
				<p class="panel-title">{{question.title}}</p>
				<p class="panel-body">{{question.content}}</p>
				<p class="panel-body">{{question.time}}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		</div>
		<form class="row form-horizontal panel" method="POST" action='/post/'>
			{% if is_student %}
			<div class="form-group">
				<label class="panel-heading control-label col-sm-4 ">发起新的讨论或问题</label>
				<select class="form-control col-sm-6 " name="post_type">
				  <option value="course_discuss">讨论</option>
				  <option value="question">问题</option>
				</select>
			</div>
			{% else %}
			<div class="form-group">
				<select class="form-control col-sm-6 " name="post_type">
				<option value="course_discuss">讨论</option>			
			</div>
			{% endif %}
			<div class="form-group col-md-8 col-md-offset-2">
				<label  class="col-sm-2 control-label" for="exampleInputUsername">标题:</label>
				<div class="col-sm-10">
					<input type='text' name='title' value="" class="form-control" id="exampleInputUsername" placeholder=""/>
				</div>
			</div>
			<div class="form-group col-md-8 col-md-offset-2">
				<label  class="col-sm-2 control-label" for="exampleInputUsername">内容:</label>
				<div class="col-sm-10">
					<textarea type='text' name='content' value="" class="form-control" id="exampleInputUsername" placeholder=""></textarea>
				</div>
			</div>
			<div class="form-group col-md-2">
				<input type="hidden" name="courseid" value="{{course.id}}"/>
				<input type="submit" class="btn btn-primary" value="Submit"/>
			</div>
		</form>
	{% endif %}
	</div>
{% endblock %}